body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: lightblue;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main-container {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.header {
    background-color: #eee;
}

.content {
    background-color: gray;
}

.dashboard-container {
    background-color: white;
    margin-bottom: 40px;
    width: 100%;
    max-width: 300px;
}

.dashboard-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dashboard-item .item-icon {
    background-color: lightgray;
    text-align: center;
}